<div class="dashboard-container">
    <!-- Cartes de statistiques -->
    <div class="stats-cards">
      <p-card class="stat-card">
        <span>Enquêtes actives</span>
        <h2 class="stat-value text-primary">{{statistics.activeSurveys}}</h2>
      </p-card>
  
      <p-card class="stat-card">
        <span>Réponses</span>
        <h2 class="stat-value text-success">{{statistics.answers}}</h2>
      </p-card>
  
      <p-card class="stat-card">
        <span>Réponses par question</span>
        <h2 class="stat-value text-warning">{{statistics.answers / statistics.questions}}</h2>
      </p-card>
    </div>
  
    <!-- Table des enquêtes récentes -->
    <p-card class="recent-surveys">
      <h3>Enquêtes récentes</h3>
      <p-table
      [value]="surveys"
      sortField="date"
      [sortOrder]="-1"
      class="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Nom</th>
            <th>Description</th>
            <th>Date</th>
            <th>Statut</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template let-survey pTemplate="body">
          <tr>
            <td>{{ survey.name }}</td>
            <td>{{ survey.description }}</td>
            <td>{{ survey.date | date:'longDate' }}</td>
            <td [ngSwitch]="survey.status">
                <span *ngSwitchCase="'DRAFT'" class="status status-draft" >En pause</span>
                <span *ngSwitchCase="'ACTIVE'" class="status status-active">Active</span>
                <span *ngSwitchCase="'COMPLETED'" class="status status-completed">Complétée</span>
                <span *ngSwitchDefault>{{survey.status}}</span>
            </td>
            <td><p-button icon="pi pi-chart-line" pTooltip="Voir les destinataires et leurs réponses" tooltipPosition="left" (click)="access(survey.id)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>

    <!-- Graphiques -->
    <div class="charts-container">
      <p-card>
        <h4>Taux de participation</h4>
        <p-chart *ngIf="selectedGraph?.key == 'bar'" type="bar" [data]="chartData"></p-chart>
        <p-chart *ngIf="selectedGraph?.key == 'pie'" type="pie" [data]="chartData"></p-chart>
      </p-card>

      <p-card>
        <h4>Temps de réponses en jours/mois/années</h4>
        <p-chart *ngIf="selectedGraph?.key == 'bar'" type="bar" [data]="chartDelayData"></p-chart>
        <p-chart *ngIf="selectedGraph?.key == 'pie'" type="pie" [data]="chartDelayData"></p-chart>
      </p-card>

      <div class="flex flex-wrap gap-4">
        <div *ngFor="let category of graphes" class="flex items-center field-checkbox">
            <p-radiobutton [inputId]="category.key" name="category" [value]="category" [(ngModel)]="selectedGraph"/>
            &nbsp;
            <label [for]="category.key" class="ml-2">{{ category.name }}</label>
            <br/>
        </div>
        <br/>
    </div>
    <br/>

    <div class="flex flex-wrap gap-4">
      <div *ngFor="let periodicity of periodicities" class="flex items-center field-checkbox">
          <p-radiobutton [inputId]="periodicity.key" name="category" [value]="periodicity" [(ngModel)]="selectedPeriodicity" (onClick)="updateAnswerStats()"/>
          &nbsp;
          <label [for]="periodicity.key" class="ml-2">{{ periodicity.name }}</label>
          <br/>
      </div>
      <br/>
  </div>
  
      <!-- <p-card>
        <h4>Temps de réponse moyen</h4>
        <h2 class="text-primary">1.8</h2>
        <span>jours</span>
      </p-card> -->
    </div>
  </div>
  <br/>
  <br/>
  <br/>
