<div class="dashboard-container">
    <!-- Table des destinataires -->
    <p-card class="recent-surveys">
      <h3>Destinataires de l'enquête {{surveyName}}</h3>
      <p-table
      [value]="recipients"
      sortField="date"
      [sortOrder]="-1"
      class="p-datatable-striped">
        <ng-template pTemplate="header">
          <tr>
            <th>Destinataire</th>
            <th>Mail</th>
            <th>Statut</th>
            <th>Date de réponse</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template let-recipient pTemplate="body">
          <tr>
            <td>{{ recipient.name }}</td>
            <td>{{ recipient.mail }}</td>
            <td [ngSwitch]="recipient.status">
                <span *ngSwitchCase="'PENDING'" class="status status-draft" >En attente</span>
                <span *ngSwitchCase="'COMPLETED'" class="status status-completed">Complétée</span>
                <span *ngSwitchDefault>{{recipient.status}}</span>
            </td>
            <td>{{ recipient.date | date:'longDate' }}</td>
            <td><p-button icon="pi pi-list" pTooltip="Consulter les réponses" tooltipPosition="left" (click)="access(recipient.id)"></p-button></td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <br/>
  <br/>
  <br/>
