<div class="card">

<p-steps [model]="steps" [(activeIndex)]="activeStep" styleClass="mb-5"></p-steps>

<div *ngIf="activeStep === 0">
    <h3>Étape 1 : Informations générales</h3>
    <form [formGroup]="surveyForm">
        <div class="form-group">
            <label for="surveyName">Nom du Survey</label>
            <input pInputText id="surveyName" formControlName="surveyName" placeholder="Entrez le titre de l'enquête" />
          </div>
    
          <!-- Description -->
          <div class="form-group">
            <label for="description">Description</label>
            <textarea id="description" pInputTextarea formControlName="description" placeholder="Entrez une description ici..." rows="4"></textarea>
          </div>
    
          <!-- Type d'enquête -->
          <div class="form-group">
            <label for="enqueteType">Type d'enquête</label>
            <p-dropdown id="enqueteType" formControlName="enqueteType" [options]="enqueteTypes" placeholder="Sélectionner un type"></p-dropdown>
          </div>
    
          <!-- Fréquence -->
          <div class="form-group">
            <label for="frequence">Fréquence</label>
            <p-dropdown id="frequence" formControlName="frequence" [options]="frequencies" placeholder="Sélectionner une fréquence"></p-dropdown>
          </div>        
    </form>
</div>

<div *ngIf="activeStep === 1">
    <h3>Étape 2 : Ajouter des questions</h3>
    <app-question></app-question>    
</div>

<div *ngIf="activeStep === 2">
    <h3>Étape 2 : Ajouter des destinataires</h3>
    <app-recipient></app-recipient>    
</div>

<div *ngIf="activeStep === 3">
    <h3>Étape 3 : Aperçu & Validation</h3>
    <p>{{ surveyForm.value | json }}</p>
</div>

<div class="flex justify-between mt-4">
    <p-button label="Précédent" icon="pi pi-chevron-left" (click)="prevStep()" [disabled]="activeStep === 0"></p-button>
    <p-button label="Suivant" icon="pi pi-chevron-right" (click)="nextStep()" [disabled]="activeStep === steps.length - 1"></p-button>
</div>

</div>
