html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
  background: #3f51b5;
  color: white;
}

.sidenav-container {
  display: flex;
  flex: 1;
  height: 100%;
}

mat-sidenav {
  width: 170px;
  position: absolute;
}


mat-sidenav-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%; /* Le reste de l’espace */
  padding: 10px;
  height: 100%;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.create-survey-btn {
  width: 100%;
  margin-top: 10px;
}

.active {
  font-weight: bold;
}

.footer {
  text-align: center;
  padding: 10px;
  background: #303F9F;
  color: #ffffff;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

@media (max-width: 768px) {
  .sidenav-container {
    flex-direction: column;
  }

  mat-sidenav {
    width: 100%;
    position: absolute;
  }

  .content {
    width: 100%;
    padding: 10px;
  }
}

.logo-container {
  display: flex; /* Active le mode flexbox */
  align-items: center; /* Centre verticalement */
  gap: 10px; /* Espacement entre l'image et le texte */
}

.logo-container img {
  width: 100px;
  height: 50px;
}

.logo-container span {
  font-size: 1.2rem;
  font-weight: bold;
}



/*
.sidenav-container {
  height: calc(100vh - 64px);
}

.header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 20px;
  margin-top: 64px;
}

.content {
  padding: 16px;
}

.footer {
  text-align: center;
  padding: 16px;
  background: #f5f5f5;
}

/// Bouton menu mobile 
.menu-button {
  display: none;
  margin-right: 16px;
}

// Adaptation mobile 
@media (max-width: 767px) {
  .menu-button {
    display: block;
  }

  .nav-text {
    display: inline;
  }
}

// Très petits écrans 
@media (max-width: 480px) {
  .title {
    font-size: 14px;
  }

  .nav-text {
    display: none;
  }

  mat-sidenav {
    width: 80px;
  }
}

*/