<mat-toolbar color="primary" class="header">
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
   <!-- Logo et nom de l'application -->
   <div class="logo-container">
    <img src="/assets/images/logo.png" alt="Logo Oceane Consulting" style="width: 100px;height: 50px;">
    <span>Oceane consulting | plateforme d'enquêtes</span>
  </div>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [opened]="!isMobile">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">
        <mat-icon>dashboard</mat-icon>
        <span class="nav-text">Tableau de bord</span>
      </a>
      <a mat-list-item routerLink="/surveys">
        <mat-icon>assignment</mat-icon>
        <span class="nav-text">Mes enquêtes</span>
      </a>
      <a mat-list-item routerLink="/recipients">
        <mat-icon>group</mat-icon>
        <span class="nav-text">Destinataires</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="footer">
  <p>&copy; 2025 Oceane Consulting - Tous droits réservés.</p>
</footer>